<header>
    <h1>Skyfall</h1>
    <h2>Tomorrow's weather website</h2>
    <div class="gui">
        <span>Please enter your credentials in order to log in.</span>
    </div>
</header>
<main>
    <br>
    <form id="login_form">
        <label for="login_username_input"></label>
        <p>
            Username: <input type="text" placeholder="Username" id="login_username_input" required>
        </p>

        <label for="login_password_input"></label>
        <p>
            Password: <input type="text" placeholder="Password" id="login_password_input" required>
        </p>

        <button onclick="performLogin()">Login</button>
        <p>
            <a href="reset_password.html">Forgot your password?</a>
        </p>
    </form>


</main>
<br>
<br>
<br>

<footer>&copy; 2023 <a href="index.html">Skyfall.</a></footer>



<!--
<h1>Login</h1>
<% if (messages.error) {%>
    <%- messages.error%>
<%}%>

<form action="/login" method="post">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
-->

<a href="/register">Register</a>